body {
	font-family: 'Montserrat', sans-serif;
}
header {
	background: #005da5;
	height: 150px;

}
.logo {
	margin-top: -45px;
	margin-left: 60px;
}
.caixa {
	width: 940px;
}

nav {
	position: absolute;
	right: 10%;
	margin: -35px ;
}

nav li {
	display: inline;
	margin: 0 15px 20px 0;
}

nav a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 22px;
	text-decoration: none;

	/* margin-top, margin-right (en-US), margin-bottom, e margin-left (en-US).*/
}
.contatos {
	position: relative;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 40px;
}

.formulario {
	margin: 0 auto;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 auto;
	padding: 10px 25px;
	width: 30%;
	text-align: center;

}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:30%;
	padding: 15px 0;
	background: #005da5;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	margin-top: 20px;
}

.enviar:hover {
	background: #0069BA;
	transform: scale(1.05);
}


.promocao {
	text-align: center;
	display: inline-block;
	margin: 50px auto 50px;
	position: relative;
}
.promocao img{
	position: relative;
	margin-left: 50px;
}

.sobrenos {
	margin: auto;
	font-size: 20px;
	width: 70%;
	text-align: center;
	

}

.topo {
	text-align: center;
	font-size: 50px;
	color: rgba(54,54,54,1);
	margin: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.video iframe {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;

}

.map-cv, .map-os, .map-ca {
	margin: 40px;
}


.map-cv p, .map-os li, .map-ca li{
	position: relative;
	
}
.menu-rodape {

	width: 13%;
	display: inline-block;
	color: #FFFFFF;
	text-align: left;
}

.menu-rodape a {
	color: #FFFFFF;
	text-decoration: none;

}

.menu-rodape li {
	margin-bottom: 10px;
}
.menu-rodape p {
	color: #FFFFFF;
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 22px;

}

.rodape-info {
	display: inline-block;
	width: 26%;
	margin-right: 3%;
	text-align: justify;

}

.logo-rodape{
	width: 45%;
	text-align: center;
}
.rodape-info p {
	color: white;

}
.redes-rodape {
	text-align: center;
	display: inline-block;
	width: 17%;
	text-decoration: none;
}

.redes-rodape p{
	color: white;
	margin-bottom: 10px;
}

footer {
	text-align: center;
	background: #005da5;
	padding: 40px;
	text-decoration: none;
	width: 100%;
}



.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

